* {
    box-sizing: border-box;
}
.container {
    width: 980px;
    margin: auto;
    margin-top: 100px;
    margin-bottom: 100px;
}
.striped-table {
    width: 100%;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 3px;
    border-spacing: 0;
}
.striped-table tr:nth-child(even) {
    background-color: #e8e8e8;
}
.striped-table td {
    padding: 10px 6px 6px 6px;
}
.accounts .name {
    width: 340px;
}
.transactions .date {
    width: 100px;
    text-align: right;
}
.transactions .amount {
    width: 80px;
    text-align: right;
}
.transactions .from_account {
    width: 160px;
}
.transactions .to_account {
    width: 160px;
}
