-   # Citi Credit Card
    bank:       "citi"
    username:   "username"
    password:   "password"
    account_names:
        "XXXXXXXXXXXX1234": "Credit-Card-Account-Name"

-   # Ally Checking Account
    bank:       "ally"
    username:   "username"
    password:   "password"
    account_names:
        "1030115446": "Assets:Ally"
        "1234567890": "Checking-Account-Name"
