---
logins:
    -   # Capital One 360, Andrew
        bank:       "capitalone360"
        username:   "username"
        password:   "password"
        extra:
            access_code: "ACCESSCODE"

    -   # US Bank, Andrew
        bank:       "usbank"
        username:   "username"
        password:   "password"
        extra:
            questions:
                "What was the name of the first fish you ever loved?": "bluefin tuna"
                "What was the name of the last cabbage you ate before you turned 18?": "Marcia"

accounts:
    -
        name: "Checking Account"
        org: "ING DIRECT"
        username: "username"
        number: "0123456789"
